<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TU Climbing Club</title>
</head>

<body>
    <div class="content">
    <div class="left-pic"></div>
    <div class="right-pic"></div>

    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/info">CLUB INFO</a>
        <a href="/schedule">SCHEDULE</a>
        <a href="/events">EVENTS</a>
        <a href="/board">BOARD</a>
        <a href="/contact-us">CONTACT US</a>
    </div>
    
    <h1 class="home-title">TULANE CLIMBING CLUB</h1>
    <p class="home-description">Tulane University's club for students looking for a community based around rock climbing and community service. We climb at New Orleans Boulder Lounge twice a week throughout the semester, and plan various other community service and team bonding events for our 255 members.</p>


    <div class="button-container">
        <a href="/login" class="button-19" role="button">LOG IN</a>
        <a href="/create-account" class="button-19" role="button">CREATE ACCOUNT</a>
    </div>
    
</div>


<footer class="footer">
        <p>Copyright © 2023 Will Silver Wagman</p>
</footer>

</body>
</html>
