<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TU Climbing Club</title>
</head>

<body>
    <div class="content">
    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/info">CLUB INFO</a>
        <a href="/schedule">SCHEDULE</a>
        <a href="/events">EVENTS</a>
        <a href="/board">BOARD</a>
        <a href="/contact-us">CONTACT US</a>
    </div>
    
    <h1 class="board-title">CLUB INFO</h1>

    <section class="general-info">
        <h2>General Information</h2>
        <p><strong>FAQ #1: Can I climb even if I am completely new to the sport?</strong></p>
            <p>Yes! The Climbing Club is open to everyone, whether climbing with us is your first time on the wall, or you’ve sent every v17!</p>
        <p><strong>FAQ #2: Is there a group chat?</strong></p>
            <p>Yes! Our main form of contact is our <a href="https://groupme.com/join_group/92540606/Vz8Cn0RX" target="_blank">GroupMe</a>.</p>
        <p><strong>FAQ # 3: Does the club have social media I can follow?</strong></p>
            <p>Yes! Check out our Instagram page: <a href="https://www.instagram.com/tulaneclimbingclub/" target="_blank">@tulaneclimbingclub</a></p>
        <p>
            We are still working on a system to get first-time climbers a free pass. For the moment, message anyone from the e-board saying it's your first time and we will try to hook you up with a guest pass. 
        </p>
      </section>
      
      <section class="nobl-info">
        <h2>New Orleans Boulder Lounge (NOBL) General info</h2>
        <p>We climb at the New Orleans Boulder Lounge! It is roughly 5 miles way from campus.</p>
        <p>• NOBL website: <a href="https://www.climbnobl.com/" target="_blank">climbnobl.com</a></p><br>
        <p>
            <strong>Online Signup and Waiver</strong><br>
            If you have never been to NOBL you can fill out the online waiver and sign up before you arrive to save time. <a href="//www.climbnobl.com/nobl-101" target="_blank">Link to waiver</a>
        </p>
        <p>
            <strong>Membership Info</strong><br>
            NOBL offers a tiered pricing system in which you can choose how much you would like to pay!
        </p>
        <p>
            • Reduced rate: $60<br>
            • Standard rate: $75<br>
            • Sustainer rate: $90<br>
            • Day Pass: $16 / $20 / $24 (depending on how much you want to pay)<br>
            • Tulane Club Student Membership: $25 start up fee + full month of dues upfront | $45/mo
        </p>

        <p><strong>Requirements for the Tulane Club Student Membership:</strong><br>
            • Must have paid club dues, documentation required from climbing club to register (we provide NOBL this information)<br>
            • Dates of use: September 1 - May 31 (Will be canceled on May 31 for summer months)
        </p>
        <p><strong>Entry Hours for the Tulane Club Student Membership:</strong><br>
            Tuesday-Friday | 6:30am-5:00pm* (the system will only allow scan-ins until 4:00pm, and we ask that folks head out at 5:00pm)<br>
            Monday-Friday | 7:30pm-10:00pm<br>
            Saturday & Sunday | 12:00pm-7:00pm

        </p>
        
        
        
      </section>
    
      <section class="dues">
        <h2>Club Dues</h2>
        <p>
            Dues are $30 and must be paid by September 25th
        </p>
        <p>
            By paying club dues, you are given access to:<br>
            • Priority to van transportation<br>
            • Tulane Club Student NOBL membership<br>
            • Priority for trips and events
        </p>
      </section>
    </div>

    <footer class="footer">
        <p>Copyright © 2023 Will Silver Wagman</p>
    </footer>
</body>
</html>
