<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TU Climbing Club</title>
</head>
<body>
    <div class="content">

    <div class="navbar">
        <a href="/">HOME</a>
        <a href="/info">CLUB INFO</a>
        <a href="/schedule">SCHEDULE</a>
        <a href="/events">EVENTS</a>
        <a href="/board">BOARD</a>
        <a href="/contact-us">CONTACT US</a>
    </div>
    
    <h1 class="board-title">SCHEDULE</h1>

</div>

<footer class="footer">
    <p>Copyright © 2023 Will Silver Wagman</p>
</footer>
</body>
</html>
